elasticsearch==7.10.0
farm-haystack==0.7.0
kaggle==1.5.12
nltk==3.5
numpy==1.19.2
pandas==1.1.5
rouge==1.0.0
seaborn==0.11.1
transformers==4.1.1
sentence-transformers==1.1.0
spacy==3.0.6
spacy-transformers==1.0.2
flair==0.8
tensorflow==2.5.1
ipykernel==5.5.5
